In [17]:
library(dplyr)

Load Auto dataset from `Auto.csv` file into `df` dataframe

In [6]:
df <- read.csv("Auto.csv", header = TRUE)

In [7]:
head(df)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [18]:
df  %>% 
    group_by(year) %>% 
    count(name) %>% 
    filter(n>1)

  year name             n
1 75   ford pinto       2
2 81   plymouth reliant 2

In [21]:
subset(df, name == c('ford pinto'))

    mpg  cylinders displacement horsepower weight acceleration year origin
112 19.0 4         122          85         2310   18.5         73   1
129 26.0 4         122          80         2451   16.5         74   1
167 23.0 4         140          83         2639   17.0         75   1
173 18.0 6         171          97         2984   14.5         75   1
205 26.5 4         140          72         2565   13.6         76   1
    name
112 ford pinto
129 ford pinto
167 ford pinto
173 ford pinto
205 ford pinto